<div class="modal fade" id="modal-confirm-delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3 rounded bg-dark">
      <img src="{{URL}}/resources/svg/question-icon.svg" alt="Aula não adicionada" class="icon--extra-large d-block mx-auto my-4">

      <span class="text-center fw-semibold fs-4 mb-2 text-white">Confirmar</span>
      <p class="text-center text-white">Deseja mesmo deletar permanentemente?</p>

      <button class="btn btn-outline-danger fw-semibold mx-auto">
        <a href="#" class="text-decoration-none text-white" data-url="{{URL}}">
          Deletar
        </a>
      </button>
    </div>
  </div>
</div>