<div class="modal fade" id="modal-deleted">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3 rounded bg-dark">
      <img src="{{URL}}/resources/svg/circle-check.svg" alt="Aula deletada" class="icon--extra-large d-block mx-auto my-4">

      <span class="text-center fw-semibold fs-4 mb-2 text-white">Sucesso</span>
      <p class="text-center text-white">deletado com sucesso!</p>

      <button class="btn-close-modal btn btn-outline-success fw-semibold mx-auto" data-bs-dismiss="modal">
        Fechar
      </button>
    </div>
  </div>
</div>