<div class="modal fade" id="modal-error">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3 rounded bg-dark">
      <img src="{{URL}}/resources/svg/exclamation-circle.svg" alt="Aula não adicionada" class="icon--extra-large d-block mx-auto my-4">

      <span class="text-center fw-semibold fs-4 mb-2 text-white">Algo deu errado</span>
      <p class="text-center text-white">Não possivel concucluir a ação!</p>

      <button class="btn-close-modal btn btn-outline-danger fw-semibold mx-auto" data-bs-dismiss="modal">
        Fechar
      </button>
    </div>
  </div>
</div>