<header class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="#" class="navbar-brand text-white fs-1">
      Digital
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <img src="{{URL}}/resources/svg/menu-hamburger.svg" alt="Abrir menu" class="menu-toggler icon--medium">
    </button>
    <div class="collapse navbar-collapse me-0 m-0 flex-row-reverse" id="menu">
      <div class="container-fluid">
        <ul class="navbar-nav me-0 w-100 align-items-center m-0">
          <li class="nav-item">
            <a class="nav-link text-white me-0" href="{{URL}}/admin">
              Home              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{URL}}/admin/lessons">
              Aulas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{URL}}/admin/modules">
              Módulos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{URL}}/admin/users">
              Usuários
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</header>


<!-- <header class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="#" class="navbar-brand text-white fs-1">
      Digital
    </a>

    <button class="profile-img bg-transparent border-0 rounded-circle position-relative">
      <img src="{{URL}}/resources/img/photo-boy.jpg" alt="Foto de perfil" class="img-fluid rounded-circle">

      <a href="{{URL}}/profile" class="position-absolute top-0 w-100 h-100 d-block"></a>
    </button>
  </div>
</header> -->
