<section class="home">
  <div class="cards-info row g-3">
    <div class="col-lg-6">
      <div class="card-info card-lessons position-relative">
        <h3 class="text-center text-white">
          Quantidade de aulas
        </h3>
        
        <div class="amount-container d-flex align-items-center justify-content-center">
          <span class="amount">
            {{lessonsAmount}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card-info card-modules">
        <h3 class="text-center text-white">Quantidade de módulos</h3>
        
        <div class="amount-container d-flex align-items-center justify-content-center">
          <span class="amount">
            {{modulesAmount}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card-info card-users">
        <h3 class="text-center text-white">Quantidade de usuários</h3>
        
        <div class="amount-container d-flex align-items-center justify-content-center">
          <span class="amount">
            {{usersAmount}}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>