.new-module {
  padding: 20px 50px;
}

input {
  background-color: transparent;
  border-radius: .5rem;
  border: 2px solid var(--primary-25);
  outline: none;
  padding: 3px 5px;
  width: 500px;
  height: 40px;
  color: #fff;
}

.label-upload {
  background-color: var(--primary-color);
  width: 180px;
  height: 40px;
}

input[type="file"] {
  display: none;
}

.current-cover {
  max-width: 50%;
  min-width: 40%;
}

.img-cover {
  width: 60%;
  min-width: 180px;
  max-width: 230px;
}

.divider-line {
  position: relative;
  width: 500px;
  height: 10px;
}

.divider-line span {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 1px;
  margin: auto;
  background-color: var(--primary-25);
}

.btn-submit {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-back {
  border: 1px solid var(--primary-75);
}

.btn {
  width: 180px;
}

.btn:hover {
  color: #fff;
  border: 1px solid #fff;
}

.modal button {
  width: 140px;
}
