<tr>
  <td class="td-info">{{name}}</td>
  <td class="td-info">{{LessonURL}}</td>
  <td class="td-info">{{module}}</td>
  <td class="td-action">
    <button class="btn-edit btn">
      <a href="{{URL}}/admin/lessons/{{id}}/edit" class="text-decoration-none text-white">
        <img src="{{URL}}/resources/svg/pen-icon.svg" alt="Editar aula" class="icon--small">
      </a>
    </button>
    <button class="btn-delete btn" data-id="{{id}}" data-bs-toggle="modal" data-bs-target="#modal-confirm-delete">
      <img src="{{URL}}/resources/svg/trash-icon.svg" alt="Editar aula" class="icon--small">
    </button>
  </td>
</tr>